USE [master]
GO
/****** Object:  Database [DBHostel]    Script Date: 8/10/2025 4:01:12 PM ******/
CREATE DATABASE [DBHostel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBHostel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBHostel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBHostel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBHostel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBHostel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBHostel]
GO
/****** Object:  Table [dbo].[tbParent]    Script Date: 8/10/2025 4:01:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbParent](
	[ptid] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NOT NULL,
	[fname] [varchar](50) NOT NULL,
	[fphno] [varchar](50) NOT NULL,
	[faddress] [varchar](max) NOT NULL,
 CONSTRAINT [PK_tbParent] PRIMARY KEY CLUSTERED 
(
	[ptid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbRoom]    Script Date: 8/10/2025 4:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbRoom](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](50) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbRoom] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbStudent]    Script Date: 8/10/2025 4:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbStudent](
	[stid] [int] IDENTITY(1,1) NOT NULL,
	[rollNo] [varchar](50) NULL,
	[name] [varchar](50) NOT NULL,
	[major] [varchar](50) NOT NULL,
	[rid] [int] NOT NULL,
	[phNo] [varchar](50) NOT NULL,
	[address] [varchar](max) NOT NULL,
 CONSTRAINT [PK_tbStudent] PRIMARY KEY CLUSTERED 
(
	[stid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUser]    Script Date: 8/10/2025 4:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUser](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbParent] ON 

INSERT [dbo].[tbParent] ([ptid], [sid], [fname], [fphno], [faddress]) VALUES (1, 1, N'U Mg Mg Aye', N'09278837280', N'No.5, Main Road, Pyay')
INSERT [dbo].[tbParent] ([ptid], [sid], [fname], [fphno], [faddress]) VALUES (2, 2, N'U Thiha Naing', N'09728423673', N'No.3, Yadanar Road, Yankin')
INSERT [dbo].[tbParent] ([ptid], [sid], [fname], [fphno], [faddress]) VALUES (3, 3, N'U Myo Aung', N'09726272875', N'No.7, Thiha Road, Mandalay')
SET IDENTITY_INSERT [dbo].[tbParent] OFF
GO
SET IDENTITY_INSERT [dbo].[tbRoom] ON 

INSERT [dbo].[tbRoom] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (1, N'R001', 2, 2, N'Unavailable')
INSERT [dbo].[tbRoom] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (2, N'R002', 2, 1, N'Available')
INSERT [dbo].[tbRoom] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (4, N'R003', 2, 0, N'Available')
SET IDENTITY_INSERT [dbo].[tbRoom] OFF
GO
SET IDENTITY_INSERT [dbo].[tbStudent] ON 

INSERT [dbo].[tbStudent] ([stid], [rollNo], [name], [major], [rid], [phNo], [address]) VALUES (1, N'1CS-12', N'Mg Wai Yan', N'Computer Science', 1, N'09827412738', N'No.5, Main Road, Pyay')
INSERT [dbo].[tbStudent] ([stid], [rollNo], [name], [major], [rid], [phNo], [address]) VALUES (2, N'1CS-23', N'Mg Zaw Wana Tun', N'Computer Science', 2, N'09728682781', N'No.3, Yadanar Road, Yankin')
INSERT [dbo].[tbStudent] ([stid], [rollNo], [name], [major], [rid], [phNo], [address]) VALUES (3, N'2CS-5', N'Mg Kyaw Zay Ya', N'Computer Science', 1, N'09782287819', N'No.7, Thiha Road, Mandalay')
SET IDENTITY_INSERT [dbo].[tbStudent] OFF
GO
INSERT [dbo].[tbUser] ([username], [password], [role], [name]) VALUES (N'Dr.Kyaw', N'0000', N'Warden', N'Sayar Kyaw')
INSERT [dbo].[tbUser] ([username], [password], [role], [name]) VALUES (N'mgmg12', N'1234', N'EC', N'Mg Mg Tun')
GO
ALTER TABLE [dbo].[tbRoom] ADD  CONSTRAINT [DF_tbRoom_Occupied]  DEFAULT ((0)) FOR [occupied]
GO
ALTER TABLE [dbo].[tbRoom] ADD  CONSTRAINT [DF_tbRoom_status]  DEFAULT ('Available') FOR [status]
GO
USE [master]
GO
