USE [master]
GO
/****** Object:  Database [DBHostel]    Script Date: 8/25/2025 8:40:32 PM ******/
CREATE DATABASE [DBHostel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBHostel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBHostel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBHostel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBHostel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBHostel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBHostel]
GO
/****** Object:  Table [dbo].[MonthlyFee]    Script Date: 8/25/2025 8:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyFee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FeeMonth] [date] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbAdFee]    Script Date: 8/25/2025 8:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAdFee](
	[afid] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NOT NULL,
	[amount] [decimal](10, 0) NULL,
	[paidDate] [date] NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbAdFee] PRIMARY KEY CLUSTERED 
(
	[afid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbAttendance]    Script Date: 8/25/2025 8:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAttendance](
	[aid] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NOT NULL,
	[attdate] [date] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbAttendance] PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbMFee]    Script Date: 8/25/2025 8:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMFee](
	[mfid] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NOT NULL,
	[feeMonth] [date] NOT NULL,
	[amount] [decimal](10, 0) NULL,
	[paidDate] [date] NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbMFee] PRIMARY KEY CLUSTERED 
(
	[mfid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbParent]    Script Date: 8/25/2025 8:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbParent](
	[ptid] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NOT NULL,
	[fname] [varchar](50) NOT NULL,
	[fphno] [varchar](50) NOT NULL,
	[faddress] [varchar](max) NOT NULL,
 CONSTRAINT [PK_tbParent] PRIMARY KEY CLUSTERED 
(
	[ptid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbRoom]    Script Date: 8/25/2025 8:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbRoom](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](50) NOT NULL,
	[capacity] [int] NOT NULL,
	[occupied] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbRoom] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbRule]    Script Date: 8/25/2025 8:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbRule](
	[ruid] [int] IDENTITY(1,1) NOT NULL,
	[ruleDes] [varchar](max) NOT NULL,
	[ruDate] [date] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbStudent]    Script Date: 8/25/2025 8:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbStudent](
	[stid] [int] IDENTITY(1,1) NOT NULL,
	[rollNo] [varchar](50) NULL,
	[name] [varchar](50) NOT NULL,
	[major] [varchar](50) NOT NULL,
	[rid] [int] NOT NULL,
	[phNo] [varchar](50) NOT NULL,
	[address] [varchar](max) NOT NULL,
 CONSTRAINT [PK_tbStudent] PRIMARY KEY CLUSTERED 
(
	[stid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUser]    Script Date: 8/25/2025 8:40:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUser](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MonthlyFee] ON 

INSERT [dbo].[MonthlyFee] ([id], [FeeMonth], [Amount]) VALUES (2, CAST(N'2025-08-01' AS Date), CAST(1200000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[MonthlyFee] OFF
GO
SET IDENTITY_INSERT [dbo].[tbAdFee] ON 

INSERT [dbo].[tbAdFee] ([afid], [sid], [amount], [paidDate], [status]) VALUES (3, 11, CAST(50000 AS Decimal(10, 0)), NULL, N'Unpaid')
INSERT [dbo].[tbAdFee] ([afid], [sid], [amount], [paidDate], [status]) VALUES (4, 1, CAST(50000 AS Decimal(10, 0)), CAST(N'2025-08-25' AS Date), N'Paid')
INSERT [dbo].[tbAdFee] ([afid], [sid], [amount], [paidDate], [status]) VALUES (5, 2, CAST(50000 AS Decimal(10, 0)), CAST(N'2025-08-25' AS Date), N'Paid')
SET IDENTITY_INSERT [dbo].[tbAdFee] OFF
GO
SET IDENTITY_INSERT [dbo].[tbAttendance] ON 

INSERT [dbo].[tbAttendance] ([aid], [sid], [attdate], [status]) VALUES (3, 1, CAST(N'2025-08-17' AS Date), N'Present')
INSERT [dbo].[tbAttendance] ([aid], [sid], [attdate], [status]) VALUES (4, 2, CAST(N'2025-08-17' AS Date), N'Absent')
INSERT [dbo].[tbAttendance] ([aid], [sid], [attdate], [status]) VALUES (5, 3, CAST(N'2025-08-17' AS Date), N'Present')
SET IDENTITY_INSERT [dbo].[tbAttendance] OFF
GO
SET IDENTITY_INSERT [dbo].[tbMFee] ON 

INSERT [dbo].[tbMFee] ([mfid], [sid], [feeMonth], [amount], [paidDate], [status]) VALUES (6, 11, CAST(N'2025-08-01' AS Date), NULL, CAST(N'2025-08-25' AS Date), N'Paid')
INSERT [dbo].[tbMFee] ([mfid], [sid], [feeMonth], [amount], [paidDate], [status]) VALUES (7, 1, CAST(N'2025-08-01' AS Date), NULL, NULL, N'Unpaid')
INSERT [dbo].[tbMFee] ([mfid], [sid], [feeMonth], [amount], [paidDate], [status]) VALUES (8, 2, CAST(N'2025-08-01' AS Date), NULL, CAST(N'2025-08-25' AS Date), N'Paid')
SET IDENTITY_INSERT [dbo].[tbMFee] OFF
GO
SET IDENTITY_INSERT [dbo].[tbParent] ON 

INSERT [dbo].[tbParent] ([ptid], [sid], [fname], [fphno], [faddress]) VALUES (1, 1, N'U Mg Mg Aye', N'09278837280', N'No.5, Main Road, Pyay')
INSERT [dbo].[tbParent] ([ptid], [sid], [fname], [fphno], [faddress]) VALUES (2, 2, N'U Thiha Naing', N'09728423673', N'No.3, Yadanar Road, Yankin')
INSERT [dbo].[tbParent] ([ptid], [sid], [fname], [fphno], [faddress]) VALUES (11, 11, N'U Ba', N'0283573755', N'Yangon')
SET IDENTITY_INSERT [dbo].[tbParent] OFF
GO
SET IDENTITY_INSERT [dbo].[tbRoom] ON 

INSERT [dbo].[tbRoom] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (1, N'R001', 2, 2, N'Unavailable')
INSERT [dbo].[tbRoom] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (2, N'R002', 2, 1, N'Available')
INSERT [dbo].[tbRoom] ([id], [roomNo], [capacity], [occupied], [status]) VALUES (4, N'R003', 2, 0, N'Available')
SET IDENTITY_INSERT [dbo].[tbRoom] OFF
GO
SET IDENTITY_INSERT [dbo].[tbRule] ON 

INSERT [dbo].[tbRule] ([ruid], [ruleDes], [ruDate]) VALUES (1, N'Do not invite extra people into the hostel.', CAST(N'2025-08-06' AS Date))
INSERT [dbo].[tbRule] ([ruid], [ruleDes], [ruDate]) VALUES (2, N'To pay hostel fees and food expenses regularly.', CAST(N'2025-08-14' AS Date))
INSERT [dbo].[tbRule] ([ruid], [ruleDes], [ruDate]) VALUES (3, N'No drug use or alcohol consumption is allowed in or around the hostel.', CAST(N'2025-08-16' AS Date))
SET IDENTITY_INSERT [dbo].[tbRule] OFF
GO
SET IDENTITY_INSERT [dbo].[tbStudent] ON 

INSERT [dbo].[tbStudent] ([stid], [rollNo], [name], [major], [rid], [phNo], [address]) VALUES (1, N'1CS-12', N'Mg Wai Yan', N'Computer Science', 1, N'09827412738', N'No.5, Main Road, Pyay')
INSERT [dbo].[tbStudent] ([stid], [rollNo], [name], [major], [rid], [phNo], [address]) VALUES (2, N'1CS-23', N'Mg Zaw Wana Tun', N'Computer Science', 2, N'09728682781', N'No.3, Yadanar Road, Yankin')
INSERT [dbo].[tbStudent] ([stid], [rollNo], [name], [major], [rid], [phNo], [address]) VALUES (11, N'3BIT-3', N'Mg Mg', N'BIT', 1, N'09287772', N'Yangon')
SET IDENTITY_INSERT [dbo].[tbStudent] OFF
GO
INSERT [dbo].[tbUser] ([username], [password], [role], [name]) VALUES (N'mgmg12', N'0000', N'EC', N'Mg Mg Tun')
INSERT [dbo].[tbUser] ([username], [password], [role], [name]) VALUES (N'tinhtu22', N'2222', N'Hall Tutor', N'U Tin Htun Aung')
INSERT [dbo].[tbUser] ([username], [password], [role], [name]) VALUES (N'admin', N'1111', N'Warden', N'Mr.Jame')
GO
/****** Object:  Index [IX_tbAttendance]    Script Date: 8/25/2025 8:40:33 PM ******/
ALTER TABLE [dbo].[tbAttendance] ADD  CONSTRAINT [IX_tbAttendance] UNIQUE NONCLUSTERED 
(
	[sid] ASC,
	[attdate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbAdFee] ADD  CONSTRAINT [DF_tbAdFee_status]  DEFAULT ('Unpaid') FOR [status]
GO
ALTER TABLE [dbo].[tbMFee] ADD  CONSTRAINT [DF_tbMFee_status]  DEFAULT ('Unpaid') FOR [status]
GO
ALTER TABLE [dbo].[tbRoom] ADD  CONSTRAINT [DF_tbRoom_Occupied]  DEFAULT ((0)) FOR [occupied]
GO
ALTER TABLE [dbo].[tbRoom] ADD  CONSTRAINT [DF_tbRoom_status]  DEFAULT ('Available') FOR [status]
GO
USE [master]
GO
